@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.code {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    font-weight: 700; /* Bold */
}

h2 {
    font-weight: 500; /* Medium */
}

p {
    font-weight: 300; /* Light */
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}
.markdown ul {
    list-style-type: unset;
    padding: 1rem 2rem;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 18 0% 10%;

        --primary: 18 100% 75%;
        --secondary: 20 43% 56%;

        --progress-bar: 137 63% 51%;
        --continue-course: 228 28% 53%;

        --field-type: 38 100% 85%;
        --field-type-foreground: 18 51% 52%;

        --footer: 0 0% 94%;
        --code-tag: 0 41% 60%;

        --outcome-badge: 148 34% 49%;
        --check-badge: 18 66% 58%;
        --error-badge: 0 96% 42%;
        --comment-badge: 291 45% 56%;
        --evaluate-badge: 199 81% 56%;

        --check-passed: 130 100% 91%;
        --check-passed-foreground: 135 100% 27%;

        --check-failed: 15 100% 91%;
        --check-failed-foreground: 0 17% 51%;

        --form: 0 0% 94%;

        --complete-step: 134 62% 46%;
        --incomplete-step: 0 0 48%;

        --explore: 38 100% 85%;
        --explore-foreground: 18 48% 60%;

        --border: 0 0% 75%;

        --chart: 18, 100%, 75%;
        --chart-border: 18 100% 75%;
        --chart-point: 20 43% 56%;
        --chart-point-border: 0 0% 100%;
        --chart-point-hover: 0 0% 100%;
        --chart-point-hover-border: 18 100% 75%;

        --step-bg: 0, 0%, 98%;

        --radius-large: 40px;
        --radius-medium: 32px;
        --radius: 24px;
        --radius-small: 12px;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .bg-fieldType {
        background-color: hsl(var(--field-type));
    }
    .bg-chart {
        background-color: hsl(var(--chart));
    }
    .bg-chart-pointBg {
        background-color: hsl(var(--chart-point));
    }
    .bg-chart-pointHover {
        background-color: hsl(var(--chart-point-hover));
    }
    .bg-badge-outcome {
        background-color: hsl(var(--outcome-badge));
    }
    .bg-badge-check {
        background-color: hsl(var(--check-badge));
    }
    .bg-badge-error {
        background-color: hsl(var(--error-badge));
    }
    .bg-badge-comment {
        background-color: hsl(var(--comment-badge));
    }
    .bg-badge-evaluate {
        background-color: hsl(var(--evaluate-badge));
    }
    .bg-evalPassed {
        background-color: hsl(var(--check-passed));
    }
    .bg-evalFailed {
        background-color: hsl(var(--check-failed));
    }
    .bg-form {
        background-color: hsl(var(--form));
    }
    .bg-completeStep {
        background-color: hsl(var(--complete-step));
    }
    .bg-incompleteStep {
        background-color: hsl(var(--incomplete-step));
    }
    .bg-explore {
        background-color: hsl(var(--explore));
    }
    .bg-footer {
        background-color: hsl(var(--footer));
    }
    .bg-droplet1 {
        background-image: url("@/assets/droplet1.png");
    }
    .bg-check-passed {
        background-color: hsl(var(--check-passed));
    }
    .bg-check-failed {
        background-color: hsl(var(--check-failed));
    }
    .bg-step {
        background-color: hsl(var(--step-bg));
    }
}

